@model AssetHub.ViewModels.Asset.Partial.ChangeLocationViewModel


@using (Html.BeginForm("ChangeLocation", "Asset", FormMethod.Post, htmlAttributes: new { id = "changeLocationForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.AssetId)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedRoomId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedRoomId, Model.Rooms, "", htmlAttributes: new { @class = "form-control", @id = "roomSelector" })
                @Html.ValidationMessageFor(m => m.SelectedRoomId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    document.getElementById("roomSelector").value = @Model.SelectedRoomId;
</script>