@model AssetHub.ViewModels.Asset.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-2">
        <h4>Actions</h4> <hr />
        @Html.ActionLink("Add asset", "AddAsset", "Asset", htmlAttributes: new { @class = "btn btn-default" })
    </div>
    <div class="col-sm-10">
        <h4>Search</h4> <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.SerialKey, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedCategoryId, Model.AssetModels, htmlAttributes: new { @class = "form-control", @id = "categorySelector" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.SelectedAssetModelId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedAssetModelId, Model.AssetModels, htmlAttributes: new { @class = "form-control", @id = "modelSelector" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>