@model AssetHub.ViewModels.Asset.ViewAssetViewModel

@{
    ViewBag.Title = "Asset: " + Model.Name;
}

@using AssetHub.ViewModels.Asset.Partial

<script>
    var inEdit = "false";
    var deleteUrl = "/Asset/DeleteAsset/@Model.Id";
</script>

<div class="row">
    <div class="col-sm-2">
        <div class="row">
            <h4>Actions</h4> <hr />
            <button type="button" class="btn btn-default" id="editBtn">Edit</button>
            <button type="button" class="btn btn-danger" id="deleteBtn">Delete</button>
        </div>
        <div class="row">
            <h4>Loans</h4> <hr />
            @Html.ActionLink("Loan", "CreateLoan", "Loan", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="col-sm-10">
        <h4>@Model.Name</h4> <hr />
        <div class="container" id="viewContainer">
            <div class="row">
                <div class="col-sm-10">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SerialNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SerialNumber)
                        </dd>

                        <dt>
                            @Html.DisplayName("AssetModel")
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.AssetModel.Name, "ViewAssetModel", "AssetModel", new { id = Model.AssetModel.Id }, new { })
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    @if (Model.Properties.Count > 0)
                    {
                        <h4>Properties</h4> <hr />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model.Properties)
                                {
                                    <tr>
                                        <td>@p.AssetModelProperty.Name</td>
                                        <td>@p.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    @if (Model.CurrentLocation != null)
                    {
                        <h4>Current location</h4> <hr />
                        <div class="col-sm-10">
                            <div id="viewLocationContainer">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName("Room")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CurrentLocation.Room.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div id="changeLocationContainer" style="display: none">
                                @Html.Partial("_ChangeLocation", new ChangeLocationViewModel(Model.Id, Model.CurrentLocation.RoomId))
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default" id="changeLocationBtn">Change</button>
                        </div>

                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    @if (Model.CurrentLoan != null)
                    {
                        <h4>Current loan</h4> <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Loaned to")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CurrentLoan.User.FirstName + " " + model.CurrentLoan.User.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayName("Loan start")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CurrentLoan.TimeFrom)
                            </dd>

                            <dt>
                                @Html.DisplayName("Loan end")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CurrentLoan.TimeTo)
                            </dd>
                        </dl>
                    }
                </div>
            </div>
        </div>

        <div class="container" id="editContainer" style="display: none">
            @Html.Partial("_EditAsset", new EditAssetViewModel(Model.Id))
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Asset/ViewAsset.js")
    @Scripts.Render("~/Scripts/Asset/EditAsset.js")
}
